/************************************
Reset
************************************/

/*BOX MODEL*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*CLEAR FIX*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
}

/************************************
End Reset
************************************/

/************************************
Global
************************************/

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #222222;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 300;
  /*-webkit-text-size-adjust: 100%; */
}

h1, h2, h3 {
  font-family: 'Quicksand', sans-serif; 
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.2; 
}

h3 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}

a {
  font-weight: 700;
}

a:hover, a:focus {
  color: #ff6000 ;
  text-decoration: none; 
}

.container {
  margin: 0 auto;
  width: 65%;
}

.introduction {
  margin: 40px 0;
}

/************************************
End Global
************************************/

/************************************
Timeline
************************************/

/* Timeline Container */
.timeline {
  border-left: 5px solid #dddddd;
  padding-bottom: 3em;
  position: relative; 
}

.timeline:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 5px;
  background: #dddddd;
}

/* Individual Timeline Item */
.tl-node {
  margin-bottom: 3em;
  position: relative; 
}

.tl-content {
  padding-left: 4em;
}

.tl-node:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  background: #ddd;
}

/* Timestamp */
span {
  color: #bbb;
  font-weight: 700;
  font-size: 0.9rem; 
  text-transform: uppercase;
}

/************************************
End Timeline
************************************/

